.movies-card {
	width: calc(100% - 140px);
  height: 134px;
  margin: 0 auto;
  background-color: rgba(244, 244, 244, 1);
}

.movies-card__element {
  display: flex;
  justify-content: space-between;
}

.movies-card__element-container {
  margin-left: 22px;
}

.movies-card__element-name {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 13px;
}

.movies-card__element-duration {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(160, 160, 160, 1);
  margin: 0;
}

.movies-card__element-like {
  background-image: url("../../images/like-button-disabled.svg");
  border: none;
  width: 14px;
  height: 12px;
  margin-top: 30px;
  transition: 0.35s linear;
	background-color: rgba(244, 244, 244, 1);
}

.movies-card__element-like:hover {
  cursor: pointer;
  opacity: 0.5;
}

.movies-card__element-delete {
  background-image: url("../../images/delete-button.svg");
  width: 14px;
  height: 12px;
  transition: 0.35s linear;
  margin-top: 30px;
  border: none;
	background-color: rgba(244, 244, 244, 1);
}

.movies-card__element-delete:hover {
  cursor: pointer;
  opacity: 0.5;
}

.movies-card__element-like_active {
  background-image: url("../../images/like-button-active.svg");
	transition: 0.35s linear;
}

.movies-card__element-like_active:hover {
	cursor: pointer;
	opacity: 0.5;
}

.movies-card__image {
  background-color: white;
  width: 220px;
  height: 122px;
  margin: 6px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
	
	.movies-card {
		width: calc(100% - 60px);
	}
	
	.movies-card__element-delete {
		margin-right: 16px;
		margin-top: 16px;
	}
}

@media screen and (max-width: 420px) {
	
	.movies-card {
		width: calc(100% - 20px);
		height: 232px;
	}
	
	.movies-card__element {
		flex-direction: column-reverse;
	}
	
	.movies-card__element-container {
		margin-left: 12px;
		display: flex;
		justify-content: space-between;
	}
	
	.movies-card__element-name {
		font-size: 12px;
		margin-top: 14px;
		margin-bottom: 8px;
	}
	
	.movies-card__element-like {
		margin-right: 16px;
		margin-top: 16px;
	}
	
	.movies-card__image {
		width: 300px;
		height: 168px;
		margin: 0 auto 0;
	}
}
