.section-title__text {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-bottom: 23px;
  max-width: 1140px;
  margin: 0;
}

@media screen and (max-width: 420px) {
	.section-title__text {
		font-size: 18px;
		padding-bottom: 28px;
	}
}
